registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist

# 二进制包镜像（Prisma、SWC、esbuild 等大包）
@prisma:registry=https://registry.npmmirror.com
prisma_binary_mirror=https://npmmirror.com/mirrors/prisma/
PRISMA_ENGINES_MIRROR=https://npmmirror.com/mirrors/prisma/

sharp_binary_host=https://npmmirror.com/mirrors/sharp
sass_binary_site=https://npmmirror.com/mirrors/node-sass

network-timeout=120000
